<h1>Recipe Name: <%= @recipe.name %></h1>
<h1>Ingredients: <%= @recipe.ingredients %></h1>
<h1>Cook Time: <%= @recipe.cook_time %> minutes</h1>

<form action="/recipes/<%= @recipe.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>